.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  font-family: "Assistant";
  direction: rtl;
}

.mainTitle {
  text-align: center;
  font-size: 2.5rem;
  background: #DDADAD;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto 0.5rem;
  width: 95%;
}

.subtitle {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.option {
  flex: 1;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: #e79c9c49;
  box-shadow: 0 5px 15px rgba(221, 173, 173, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(221, 173, 173, 0.3);
}

.optionTitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
  background: linear-gradient(135deg, #c27373 0%, rgb(179, 111, 107) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.optionList {
  list-style-type: none;
  padding: 0;
}

.optionList li {
  margin-bottom: 0.7rem;
  position: relative;
  padding-right: 1.2rem;
  color: #d6d6d6;
  font-family: "AssistantR";
}

.optionList li::before {
  content: '•';
  color: #DDADAD;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.bonus {
  background-color: rgba(234, 208, 207, 0.2);
  padding: 0.8rem;
  border-radius: 10px;
  margin-top: 1rem;
  border: 1px solid #DDADAD;
}

.bonus p {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-family: "AssistantR";
}

.commonInfo {
  margin-top: 2rem;
  padding: 1.5rem;
  background: rgba(255, 221, 220, 0.637);
  border-radius: 15px;
  color: #202020;
  text-align: center;
}

.cta {
  text-align: center;
  margin-top: 2rem;
}

.ctaButton {
  background: linear-gradient(135deg, #DDADAD 0%, #EAD0CF 100%);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ctaButton:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 10px rgba(221, 173, 173, 0.4);
}

@media (max-width: 768px) {
  .optionsWrapper {
    flex-direction: column;
  }
  
  .option {
    margin-bottom: 1.5rem;
  }
  
  .mainTitle {
    font-size: 2rem;
  }
  
  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  .optionTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.3rem;
  }
  
  .mainTitle {
    font-size: 1.8rem;
  }
  
  .subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .option {
    padding: 1rem;
  }
  
  .optionTitle {
    font-size: 1.3rem;
  }
  
  .ctaButton {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
  }
}